*.exe
*.pdb
*.pro
*.user
*.a
*.o
*.eww
*.tmp
*.dep
*.ewd
*.ewp
*.ewt
*.pbi
*.hex
*.lst
*.pbd
*.browse
*.dni
*.dbgdt
*.cout
*.log
*.txt
*.debug
/cmd*
/bin*
/logs*
/iar_files*
/python
/build*
/configs/test_cases*
*.Debug
*.Release
/src/apis
/src/inc
/bin
/compiler
*.Makefile.Debug
*.Makefile.Release
